* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.qeydiyyati {
    display: flex;
    flex-direction: column;
    width: 856px;
    height: 151px;
    align-items: center;
    gap: 48px;
    top: 894px;
    left: 292px;
}

.basliq {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 532px;
    height: 151px;
}

.basliq h2 {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 532px;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.black-text {
    font-size: 54px;
    font-weight: 700;
    line-height: 64.8px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #191816;
}

.yellow-text {
    color: #F7CB15;
    font-size: 52.52px;
    horiz-align: center;
    vertical-align: middle;
}

.qeydiyyati p {
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0;
    horiz-align: center;
    vertical-align: middle;
    color: #878E88;
    width: 532px;
    height: 70px;
    text-align: center;
}

.tm-qeydiyyatlar {
    display: flex;
    flex-direction: row;
    width: 1330px;
    height: 300px;
    gap: 11px;
}

.muellim ,.telebe{
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    gap: 11px;
    border-radius: 20px;
    border: 1px solid #F0F0F0;
    padding: 20px;
}

.one {
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 272px;
    gap: 19px;
    border-radius: 19px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.one h2 {
    width: 285px;
    height: 51px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 64.8px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

.one p {
    width: 275px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

.reyting {
    display: flex;
    flex-direction: row;
    width: 275px;
    height: 32px;
    gap: 4px;
}

.ulduz {
    display: flex;
    flex-direction: row;
    width: 59px;
    height: 32px;
    gap: 10px;
    border-radius: 26px;
    border: 1px solid #0000000F;
    padding: 10px;
    align-items: center;
}

.ulduzunici {
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 16px;
    gap: 4px;
}

.ulduz img {
    width: 16.77px;
    height: 16px;
    left: -0.88px;
    color: #F7CB15;
}

.ulduz p {
    width: 16px;
    height: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    margin-top: 5px;
}

.istifadeci {
    display: flex;
    flex-direction: column;
    width: 114px;
    height: 32px;
    border-radius: 26px;
    border: 1px solid #0000000F;
    padding: 10px;
    gap: 10px;
}

.istifadeciici {
    display: flex;
    flex-direction: row;
    width: 103px;
    height: 16px;
    gap: 4px;
    text-align: center;
    margin-top: -3px;

}

.istifadeciici img {
    width: 16px;
    height: 16px;
    left: -0.88px;
}

.istifadeciici p {
    width: 73px;
    height: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    margin-top: 5px;
}

.ders {
    display: flex;
    flex-direction: column;
    width: 94px;
    height: 32px;
    border-radius: 26px;
    border: 1px solid #0000000F;
    padding: 10px;
    gap: 10px;
}

.dersici {
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 16px;
    gap: 4px;
    text-align: center;
    margin-top: -3px;
}

.dersici img {
    width: 16px;
    height: 16px;
    left: -0.88px;
}

.dersici p {
    width: 51px;
    height: 12px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    margin-top: 5px;
    text-align: center;
}

.duyme {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 59px;
    gap: 20px;
    border-radius: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #F7CB15;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    horiz-align: center;
    vertical-align: middle;
    border: none;
    justify-content: center;
    align-items: center;
}

.two {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 260px;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
}
.two ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.two ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: "Segoe UI Symbol",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    vertical-align: middle;
    gap: 8px;
}
.two ul li img{
    width: 18.38px;
    height: 18.38px;
    top: 1.32px;
    left: 1.31px;
    color: #F7CB15;
}






