* {
    margin: 0;
    padding: 0;
}

.siteFooter {
    background-color: #1D2026;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-family: 'Inter', sans-serif;
}

.footerTop {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 75px 12%;
    border-bottom: 1px solid #363B4780;
}

.footerIntro {
    max-width: 560px;
    flex: 1;
}

.footerIntro h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 24px;
}

.footerButtons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btnJoin, .btnBrowse {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 20px;
    background-color: #363B4780;
    color: #fff;
}

.btnJoin {
    border-radius: 50px;
}

.btnJoin:hover, .btnBrowse:hover {
    background-color: #F7CB15;
    color: #fff;
}

.footerStats {
    display: flex;
    gap: 96px;
    flex-wrap: wrap;
}

.statBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.statBox h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.statBox p {
    font-size: 12px;
    color: #B7BAC7;
}


.footerMiddle {
    display: flex;
    justify-content: space-around;
    padding: 75px 12%;
    border-bottom: 1px solid #363B4780;
    flex-wrap: wrap;
}

.footerAbout {
    display: flex;
    flex-direction: column;
}

.footerAbout p {
    font-size: 11px;
    color: #8C94A3;
    line-height: 16px;
    margin-bottom: 20px;
}

.footerSocial {
    display: flex;
    gap: 10px;
}

.socialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #363B4766;
}

.socialIcon:hover {
    background-color: #F7CB15;
}

.footerLinks {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.linkGroup {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.linkGroup h3 {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.linkGroup ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linkGroup ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.linkGroup ul li i {
    display: none;
}

.linkGroup ul li:hover i {
    display: block;
}

.linkGroup ul li a {
    font-size: 11px;
    color: #8C94A3;
    text-decoration: none;
    border-bottom: 1px solid #1D2026;
    line-height: 16px;
    box-sizing: border-box;

}

.linkGroup ul li a:hover {
    border-bottom: 1px solid #F7CB15;
}

.footerBottom {
    padding: 20px 12%;
    text-align: center;
}

.footerBottom p {
    font-size: 11px;
    color: #8C94A3;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .footerTop, .footerMiddle {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .footerTop, .footerMiddle {
        padding: 40px 20px;
        text-align: center;
        align-items: center;
    }

    .footerIntro h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .footerButtons {
        flex-direction: column;
        width: 100%;
    }

    .footerButtons a {
        width: 100%;
    }

    .footerStats {
        justify-content: center;
    }

    .footerLinks {
        justify-content: center;
    }

    .footerAbout {
        text-align: center;
    }

    .footerSocial {
        justify-content: center;
    }
}
